.fake-bold {
  letter-spacing: 1px;
  font-weight: normal;
  text-shadow: 0.5px 0 0 currentColor, 1px 0 0 currentColor;
}

.landmark {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
}

.district-label {
  text-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff, 0px 0px 6px #fff,
    0px 0px 8px #fff, 0px 0px 10px #fff, 0px 0px 12px #fff, 0px 0px 14px #fff,
    0px 0px 16px #fff, 0px 0px 18px #fff, 0px 0px 20px #fff;
}
